{% extends "base_generic.html" %}

{% block content %}
<h1>Dispute List for {{ request.user.username }}</h1>
<div id="dispute-list">
    <table>
        <tr>
            <th>Dispute Reason</th>
            <th>Status</th>
            <th>Resolution Details</th>
            <th>Date Created</th>
            <th>Actions</th>
        </tr>
        {% for dispute in disputes %}
        <tr>
            <td>{{ dispute.dispute_reason }}</td>
            <td>{{ dispute.status }}</td>
            <td>{{ dispute.resolution_details }}</td>
            <td>{{ dispute.date_created }}</td>
            <td>
                <a href="{% url 'edit_dispute' dispute.id %}">Edit</a>
                <a href="{% url 'delete_dispute' dispute.id %}">Delete</a>
            </td>
        </tr>
        {% endfor %}
    </table>
</div>
{% endblock %}
