<!-- templates/disputes/return_list.html -->
{% extends 'layouts/b.html' %}

{% block content %}
  <h1>Return List for {{ request.user.seller.name }}</h1>
  <table>
    <tr>
      <th>Order ID</th>
      <th>Return Reason</th>
      <th>Return Tracking</th>
      <th>Date Returned</th>
      <th></th>
    </tr>
    {% for return in returns %}
    <tr>
      <td>{{ return.order.id }}</td>
      <td>{{ return.return_reason }}</td>
      <td>{{ return.return_tracking }}</td>
      <td>{{ return.date_returned }}</td>
      <td>
        <a href="{% url 'create_dispute' return.id %}">Create Dispute</a>
      </td>
    </tr>
    {% endfor %}
  </table>
{% endblock %}
